**/.idea/
**/*.iml
**/*.iws

**/.settings/
**/.buildpath
**/.classpath
**/.project

**/nbproject/
**/nbactions.xml
**/nb-configuration.xml

*.pyc
*.pyo

**/.flattened-pom.xml
**/rebel*
**/*.cache

**/bin/
**/target/
**/node_modules/

**/log/
**/*.log*

**/tmp/
**/*.lck*
**/*.lock*

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
