[user]
	name = Octavian Nita
	email = octavian.nita@gmail.com

#[http]
#	proxy = http://username:password$@proxy:port

[core]
	editor = '~/bin/subl' -w

#[merge]
#	tool = winmerge
#[mergetool "winmerge"]
#	cmd = 'C:/Program Files (x86)/WinMerge/WinMergeU.exe' -e -u -x -wl -wr -dl \"Base\" -dr \"Mine\" \"$LOCAL\" \"$REMOTE\"
#[mergetool]
#	prompt = false

#[diff]
#	tool = winmerge
#[difftool "winmerge"]
#	cmd = 'C:/Program Files (x86)/WinMerge/WinMergeU.exe' -e -u -x -wl -wr -dl \"Base\" -dr \"Mine\" \"$LOCAL\" \"$REMOTE\"
