[user]
	name = Octavian Nita
	email = octavian.nita@gmail.com

[core]
	editor = code --wait
	preloadindex = true
	fscache = true
	askPass =

# These variables override the values configured in merge / merge.tool!
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

#[merge]
#	tool = winmerge
#[mergetool "winmerge"]
#	cmd = 'C:/Program Files (x86)/WinMerge/WinMergeU.exe' -e -u -x -wl -wr -dl \"Base\" -dr \"Mine\" \"$LOCAL\" \"$REMOTE\"
#[mergetool]
#	prompt = false

#[http]
#	proxy = http://username:password$@proxy:port
[gc]
	auto = 256
