# Commonly ignored file patterns in Java, JavaScript and Python code bases
# possibly managed with Maven and developed with JetBrains IDEs, Eclipse or NetBeans

# See https://stackoverflow.com/questions/41761128/are-leading-asterisks-redundant-in-gitignore-path-matching-syntax

.idea/
*.iml
*.iws

.settings/
.buildpath
.classpath
.project

nbproject/
nbactions.xml
nb-configuration.xml

bin/
dist/
target/
node_modules/
**/src/_includes/css

.flattened-pom.xml
dependency-reduced-pom.xml

# Unit test reports
TEST*.xml

log/
*.log*

rebel*
*.cache
tomcat*/

npm-debug.*

*.scssc
*.swp
.sass-cache
.env
.cache

tmp/
*.lck*
*.lock*

# Compiled Python bytecode
*.py[cod]

# Package files
*.jar

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
